<%- include('partials/header.ejs') %>
<main class="product-content">
    <div class="filter">
        <form id="filter-form" action="/badminton-products" method="GET">
            <fieldset>
                <legend>Brands:</legend>
                <label><input type="checkbox" name="brand" value="Yonex"> Yonex</label>
                <label><input type="checkbox" name="brand" value="Li-Ning"> Li-Ning</label>
                <label><input type="checkbox" name="brand" value="Victor"> Victor</label>
            </fieldset>
            <fieldset>
                <legend>Types:</legend>
                <label><input type="checkbox" name="type" value="Racket"> Racket</label>
                <label><input type="checkbox" name="type" value="Shuttlecock"> Shuttlecock</label>
                <label><input type="checkbox" name="type" value="Shoes"> Shoes</label>
                <label><input type="checkbox" name="type" value="Grip"> Grip</label>
                <label><input type="checkbox" name="type" value="Bag"> Bag</label>
                <label><input type="checkbox" name="type" value="String"> String</label>
                <label><input type="checkbox" name="type" value="Grip Powder"> Grip Powder</label>
                <label><input type="checkbox" name="type" value="Shirt"> Shirt</label>
                <label><input type="checkbox" name="type" value="Shorts"> Shorts</label>
                <label><input type="checkbox" name="type" value="Socks"> Socks</label>
                <label><input type="checkbox" name="type" value="Wristband"> Wristband</label>
                <label><input type="checkbox" name="type" value="Cap"> Cap</label>
                <label><input type="checkbox" name="type" value="Towel"> Towel</label>
                <label><input type="checkbox" name="type" value="Sling Bag"> Sling Bag</label>
                <label><input type="checkbox" name="type" value="Wrist Support"> Wrist Support</label>
                <label><input type="checkbox" name="type" value="Kit bag"> Kit bag</label>
            </fieldset>
            <fieldset>
                <legend>Price Range:</legend>
                <label><input type="radio" name="priceRange" value="0-1000"> Rs.0 - Rs.1000</label><br>
                <label><input type="radio" name="priceRange" value="1001-3000"> Rs.1001 - Rs.3000</label><br>
                <label><input type="radio" name="priceRange" value="3001-5000"> Rs.3001 - Rs.5000</label><br>
                <label><input type="radio" name="priceRange" value="5001-10000"> Rs.5001 - Rs.10000</label><br>
                <label><input type="radio" name="priceRange" value="10001-60000"> Rs.10001 - Rs.60000</label><br>
            </fieldset>

            <button type="submit">Apply Filters</button>
        </form>
    </div>
<div class="product-container">
        <% if (badmintonProducts && badmintonProducts.length > 0) { %>
            <% badmintonProducts.forEach(product => { %>
                <div class="product-box">
                    <img src="<%= product.image %>" alt="<%= product.name %>">
                    <strong><%= product.name %></strong>
                    <span class="description"><%= product.description %></span>
                    <span class="price">Rs.<%= product.price %></span>
                    <button class="add-to-cart" data-id="<%= product._id %>"><i class="fas fa-shopping-bag"></i>Add to Cart</button>
                </div>
            <% }); %>
        <% } else { %>
            <p>No badminton products available.</p>
        <% } %>
    </div>
</main>
    <%- include('partials/footer.ejs') %>