<%- include('partials/header.ejs') %>
<main class="product-content">
    <div class="filter">
        <form id="filter-form" action="/boxing-products" method="GET">
            <fieldset>
                <legend>Brands:</legend>
                <label><input type="checkbox" name="brand" value="Everlast"> Everlast</label>
                <label><input type="checkbox" name="brand" value="Title Boxing"> Title Boxing</label>
                <label><input type="checkbox" name="brand" value="Cleto Reyes"> Cleto Reyes</label>
                <label><input type="checkbox" name="brand" value="Ringside"> Ringside</label>
                <label><input type="checkbox" name="brand" value="Grant"> Grant</label>
            </fieldset>
            <fieldset>
                <legend>Types:</legend>
                <label><input type="checkbox" name="type" value="Boxing Gloves"> Boxing Gloves</label>
                <label><input type="checkbox" name="type" value="Punching Bag"> Punching Bag</label>
                <label><input type="checkbox" name="type" value="Headgear"> Headgear</label>
                <label><input type="checkbox" name="type" value="Boxing Shoes"> Boxing Shoes</label>
                <label><input type="checkbox" name="type" value="Hand Wraps"> Hand Wraps</label>
                <label><input type="checkbox" name="type" value="Skipping Rope"> Skipping Rope</label>
                <label><input type="checkbox" name="type" value="Mouthguard"> Mouthguard</label>
                <label><input type="checkbox" name="type" value="Groin Protector"> Groin Protector</label>
                <label><input type="checkbox" name="type" value="Training Mitts"> Training Mitts</label>
                <label><input type="checkbox" name="type" value="Heavy Bag Stand"> Heavy Bag Stand</label>
                <label><input type="checkbox" name="type" value="Double End Bag"> Double End Bag</label>
                <label><input type="checkbox" name="type" value="Speed Bag"> Speed Bag</label>
                <label><input type="checkbox" name="type" value="Cornerman Kit"> Cornerman Kit</label>
                <label><input type="checkbox" name="type" value="Punch Mitts"> Punch Mitts</label>
                <label><input type="checkbox" name="type" value="Kit bag"> Kit bag</label>
            </fieldset>
            <fieldset>
                <legend>Price Range:</legend>
                <label><input type="radio" name="priceRange" value="0-1000"> Rs.100 - Rs.1000</label><br>
                <label><input type="radio" name="priceRange" value="1001-3000"> Rs.1001 - Rs.3000</label><br>
                <label><input type="radio" name="priceRange" value="3001-5000"> Rs.3001 - Rs.5000</label><br>
                <label><input type="radio" name="priceRange" value="5001-10000"> Rs.5001 - Rs.10000</label><br>
                <label><input type="radio" name="priceRange" value="10001-20000"> Rs.10001 - Rs.20000</label><br>
            </fieldset>
            <button type="submit">Apply Filters</button>
        </form>
    </div>    
<div class="product-container">
        <% if (boxingProducts && boxingProducts.length > 0) { %>
            <% boxingProducts.forEach(product => { %>
                <div class="product-box">
                    <img src="<%= product.image %>" alt="<%= product.name %>">
                    <strong><%= product.name %></strong>
                    <span class="description"><%= product.description %></span>
                    <span class="price">Rs.<%= product.price %></span>
                    <button class="add-to-cart" data-id="<%= product._id %>"><i class="fas fa-shopping-bag"></i>Add to Cart</button>
                </div>
            <% }); %>
        <% } else { %>
            <p>No boxing products available.</p>
        <% } %>
    </div>
</main>
        <%- include('partials/footer.ejs') %>