<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="css/cart.css">
    <main>
    <div class="cart">
        <div class="products">
            <% if (cart && cart.items.length > 0) { %>
                <% cart.items.forEach(item => { %>
                    <% if (item.productId) { %>
                    <div class="product">
                        <img src="<%= item.productId.image %>" alt="<%= item.productId.name %>">
                        <div class="product-info">
                            <h3 class="product-name"><%= item.productId.name %></h3>
                            <div class="quantity-controls">
                                <button class="decrement-quantity" data-id="<%= item.productId._id %>">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <input type="text" class="product-quantity" value="<%= item.quantity %>" data-id="<%= item.productId._id %>">
                                <button class="increment-quantity" data-id="<%= item.productId._id %>">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                            <h4 class="product-price">Price: Rs.<%= item.productId.price %> each</h4>
                            <button class="product-remove" data-id="<%= item.productId._id %>">
                                <i class="fas fa-trash"></i> Remove
                            </button>
                        </div>
                    </div>
                    <% } %>
                <% }); %>
            <% } else { %>
                <p>Your cart is empty.</p>
            <% } %>
        </div>
        <div class="cart-total">
            <h2>Cart Summary</h2><br><br>
            <p>Total Items: <%= totalItems %></p>
            <p>Total Amount: Rs. <%= totalAmount %></p>
            <a href="/checkout">Proceed to Checkout</a>
        </div>
    </div>
</div>
</main>
<%- include('partials/footer.ejs') %>
<script src="js/cart.js"></script>