    <%- include('partials/header.ejs') %>
        <main class="product-content">
            <h1>Football Products</h1>

    <div class="product-container">
        <% if (footballProducts && footballProducts.length > 0) { %>
            <% footballProducts.forEach(product => { %>
                <div class="product-box">
                    <img src='<%= product.image %>' alt="<%= product.name %>">
                    <strong><%= product.name %></strong><br>
                    <span class="description"><%= product.description %></span>
                    <span class="price">Rs.<%= product.price %></span>
                    <button class="add-to-cart" data-id="<%= product._id %>">Add to Cart</button>
                </div>
            <% }); %>
        <% } else { %>
            <p>No football products available.</p>
        <% } %>
    </div>
    </main>
    <%- include('./partials/footer.ejs') %>

